<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="PassKey" value="{A4DB4174-0B22-46F7-9826-664E5A23FCfE}" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SessionExpiredTime" value="20" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="FixedSessionKey" value="true" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="api:BackDoorEnable" value="false" />
  </appSettings>
</configuration>